section.awards .content {
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.award-card {
  transition: .5s;
  margin-bottom: 2rem;
  @extend .card;
  width: 48%;

  &__logo img {
    width: auto;
    height: 64px;
  }

  &__info {
    margin-left: 1rem;
    flex-direction: column;

    h1 {
      color: $color-one;
    }

    h3 {
      font-weight: normal;
    }
  }
}

section.filtered {
  .award-card.inactive {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.16), 0 1px 10px 0 rgba(0,0,0,0.12);
    background: $color-two;
  }
}
