.experience-card {

  &__logo img {
    width: auto;
    height: 64px;
  }

  &__info {
    margin-left: 1rem;
    flex-direction: column;

    h1 {
      color: $color-one;
    }

    h3 {
      font-weight: normal;
    }

    p {
      margin-bottom: 0;
    }
  }
}
