.experience-card {

  &__logo img {
    width: auto;
    height: 64px;
  }

  &__info {
    margin-left: 1rem;
    flex-direction: column;

    h1 {
      color: $color-one;
    }

    h3 {
      font-weight: normal;
    }
  }
}

.experience-tags {
  flex-wrap: wrap;
  border-top: 1px solid $off-white;
  padding-top: 1rem;
  margin-bottom: -.5rem;

  a {
    background: $color-one;
    color: $white;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    padding: 0.2rem 1rem;
    border-radius: 16px;
    margin-right: .5rem;
    margin-bottom: .5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

    span {
      border-left: 1px solid $white;
      padding-left: .5rem;
      margin-left: .5rem;
      font-size: 17px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
