
@mixin shadow {
  box-shadow: 0 4px 15px 0 rgba(0,0,0,0.2), 0 5px 20px 0 rgba(0,0,0,0.19);
}

@mixin hover-shadow {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  transition: .3s ease;

  &:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
}

.heading {
  height: 20rem;
  padding: 5rem;
  background-color: $color-one;
}

.profile-card {
  @include shadow;
  border: 2px red;
  background-color: $white;
  width: 70%;
  margin: -18rem auto 0 auto;
  height: 32rem;


  &-info {
    flex: 6;
    flex-direction: column;
  }

  &__photo {
    flex: 4;
    background: url('/img/me.jpg') center top / cover no-repeat;
  }
}


.resume {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: $color-one;
  border-radius: 4px;
  color: $white;

  a {
    @include hover-shadow;
    padding: .75rem;
  }

  &-download {
    border-left: 1px solid $white;
  }
}

.profile-card-info__demographic {
  position: relative;
  flex-direction: column;
  flex: 4;
  padding: 2rem 2rem 0 2rem;

  h1 {
    font-family: 'Roboto', 'Sans Serif';
    color: $color-one;
    font-size: 38px;
    font-weight: 500;
  }

  h4 {
    border-bottom: 1px solid $color-two;
    margin-bottom: 1rem;
    padding: .25rem 0 .5rem .5rem;
    font-weight: 300;
    font-size: 25px;
  }

  div.demographic {
    width: 100%;
    font-size: 20px;

    +div{
      padding-top: 1.5rem;
    }
  }

  .title {
    width: 20%;
    text-align: right;
    padding-right: 2rem;
    font-weight: bold;
  }
}

.profile-card-info__social {
  flex: 1;
  background-color: $color-one;

  a {
    color: white;
    height: 100%;
    display: flex;
    flex: 1;
    text-decoration: none;

    i {
      margin: auto;
    }

    &:hover {
      color: $color-four;
    }
  }
}
