.heading {
  height: 15rem;
  padding: 5rem;
  background-color: $color-one;
}

.profile-card {
  @include shadow;
  border: 2px red;
  background-color: $white;
  width: 50%;
  margin: -15rem auto 0 auto;
  height: 25rem;
  border-radius: 1rem;

  @include media-query(less-than-xl-screen) {
    width: 70%;
  }

  @include media-query(less-than-large-screen) {
    width: 80%;
  }


  &-info {
    flex: 6;
    flex-direction: column;
  }

  &__photo {
    flex: 4;
    background: url('/img/me.jpg') center top / cover no-repeat;
  }

  .info {
    flex: 1;
    flex-direction: column;
    color: $color-one;
    font-size: 1.25rem;
    padding: .5rem;

    ul {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: space-around;
      padding: 0;
      margin: 0;
    }

    li {
      list-style-type: none;
      margin-bottom: .5rem;

      i {
        width: 2rem;
        text-align: center;
        padding-right: .5rem;
      }
    }
  }
}


.resume {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: $color-one;
  border-radius: 4px;
  color: $white;

  @include media-query(less-than-medium-screen) {
    position: relative;
    top: 0;
    right: 0;
    width: max-content;
    margin-top: .5rem;
    margin-left: .5rem;
  }

  a {
    @include hover-shadow;
    padding: 1rem;

    @include media-query(less-than-large-screen) {
      padding: .5rem;
    }
  }

  &-download {
    border-left: 1px solid $white;
  }
}

.profile-card-info__demographic {
  position: relative;
  flex-direction: column;
  flex: 4;
  padding: 2rem 2rem 0 2rem;

  h1 {
    font-family: 'Roboto', 'Sans Serif';
    color: $color-one;
    font-size: 38px;
    font-weight: 500;
  }

  h4 {
    border-bottom: 1px solid $color-two;
    padding: .25rem 0 .5rem .5rem;
    font-weight: 300;
    font-size: 25px;
  }

  div.demographic {
    width: 100%;
    font-size: 20px;

    +div{
      padding-top: 1.5rem;
    }
  }

  .title {
    width: 20%;
    text-align: right;
    padding-right: 2rem;
    font-weight: bold;
  }
}

.profile-card-info__social {
  flex: 1;
  background-color: $color-one;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  a {
    color: white;
    height: 100%;
    display: flex;
    flex: 1;
    text-decoration: none;

    i {
      margin: auto;
    }

    &:hover {
      color: $color-four;
    }
  }
}
