section.projects {
  .content {
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }

  h3 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 2rem 4rem 4rem 4rem;
  }
}

.project-card {
  margin-bottom: 2rem;
  @extend .card;
  width: 48%;
  flex-direction: column;

  @include media-query(less-than-large-screen) {
    width: 100%;
  }

  h1 {
    color: $color-one;
    margin-bottom: 1rem;
  }

  a {
    color: $color-one;
  }

  .card-body {
    flex: 1;
    flex-direction: column;

    p {
      margin: 0 0 1rem 0;
    }
  }

  .btn-group {
    align-self: flex-end;

    .github-btn + .github-btn {
      margin-left: 1rem;
    }
  }

  .github-btn {
    background: $color-one;
    width: max-content;
    color: $white;
    padding: .75rem;
    border-radius: 7px;
    margin-top: 1rem;
    align-self: flex-end;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    transition: .5s;

    &:hover {
      @include shadow;
    }
  }
}
