$color-one: #4484CE;
$color-two: #D9D9D9;
$color-three: #F9CF00;
$color-four: #F19F4D;
$white: #ffffff;
$black: #000000;
$off-white: #e6e6e6;

.app {
  flex: 1;
  background-color: $off-white;
  flex-direction: column;
}

section:not(.profile) {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .section-title {
    font-size: 45px;
    letter-spacing: 1px;
    font-weight: 700;
    color: $color-one;
    text-transform: uppercase;
    margin-bottom: 4rem;
  }

  .content {
    width: 70%;
  }
}
