// $color-one: #4484CE;
$color-one: #1f5694;
$color-two: #D9D9D9;
$color-three: #F9CF00;
$color-four: #F19F4D;
$white: #ffffff;
$black: #000000;
$off-white: #e6e6e6;

.app {
  flex: 1;
  background-color: $off-white;
  flex-direction: column;
}

section:not(.profile) {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .section-title {
    font-size: 45px;
    letter-spacing: 1px;
    font-weight: 700;
    color: $color-one;
    text-transform: uppercase;
    margin-bottom: 4rem;
    text-align: center;
  }

  h4.filter {
    position: relative;
    top: -2.4rem;

    .tag {
      margin-left: 1rem;
      margin-right: 1rem;
      cursor: default;
      position: relative;
      top: -.1rem;
    }

    .clear {
      color: $color-one;
      cursor: pointer;
    }
  }

  .content {
    width: 80%;
    flex-direction: column;

    @include media-query(less-than-xl-screen) {
      width: 90%;
    }
  }
}

footer {
  height: 15rem;
  background: $color-one;
  margin-top: 5rem;
  display: flex;
  position: relative;

  @include media-query(less-than-medium-screen) {
    flex-direction: column;
    height: 20rem;

    .info {
      margin-top: 5rem;
    }
  }

  .info {
    flex: 1;
    flex-direction: column;
    color: $white;
    font-size: 1.25rem;
    justify-content: center;
    padding-left: 2rem;

    ul {
      padding: 0;
    }

    li {
      list-style-type: none;
      margin-bottom: .5rem;

      i {
        width: 2rem;
        text-align: center;
        padding-right: .5rem;
      }
    }
  }

  .copyright {
    flex: 2;

    @include media-query(less-than-large-screen) {
      flex: 0;
    }
  }

  .social {
    flex: 1;
    background-color: $color-one;
    padding-right: 2rem;

    a {
      color: white;
      height: 100%;
      display: flex;
      flex: 1;
      text-decoration: none;

      i {
        margin: auto;
      }

      &:hover {
        color: $color-four;
      }
    }
  }
}

#back-to-top {
  position: absolute;
  width: 4rem;
  height: 4rem;
  background: $color-one;
  border-radius: 50%;
  cursor: pointer;
  @include hover-shadow;
  top: -2rem;
  left: calc(50% - 2rem);
  text-align: center;
  color: white;
  padding: .75rem 1rem;
  box-sizing: border-box;
  border: 2px solid $off-white;
}
