.app {
  flex: 1;
  background-color: #e6e6e6;
  flex-direction: column; }

section:not(.profile) {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  section:not(.profile) .section-title {
    font-size: 45px;
    letter-spacing: 1px;
    font-weight: 700;
    color: #1f5694;
    text-transform: uppercase;
    margin-bottom: 4rem;
    text-align: center; }
  section:not(.profile) h4.filter {
    position: relative;
    top: -2.4rem; }
    section:not(.profile) h4.filter .tag {
      margin-left: 1rem;
      margin-right: 1rem;
      cursor: default;
      position: relative;
      top: -.1rem; }
    section:not(.profile) h4.filter .clear {
      color: #1f5694;
      cursor: pointer; }
  section:not(.profile) .content {
    width: 80%;
    flex-direction: column; }
    @media screen and (max-width: 1899px) {
      section:not(.profile) .content {
        width: 90%; } }

footer {
  height: 15rem;
  background: #1f5694;
  margin-top: 5rem;
  display: flex;
  position: relative; }
  @media screen and (max-width: 767px) {
    footer {
      flex-direction: column;
      height: 20rem; }
      footer .info {
        margin-top: 5rem; } }
  footer .info {
    flex: 1;
    flex-direction: column;
    color: #ffffff;
    font-size: 1.25rem;
    justify-content: center;
    padding-left: 2rem; }
    footer .info ul {
      padding: 0; }
    footer .info li {
      list-style-type: none;
      margin-bottom: .5rem; }
      footer .info li i {
        width: 2rem;
        text-align: center;
        padding-right: .5rem; }
  footer .copyright {
    flex: 2; }
    @media screen and (max-width: 1023px) {
      footer .copyright {
        flex: 0; } }
  footer .social {
    flex: 1;
    background-color: #1f5694;
    padding-right: 2rem; }
    footer .social a {
      color: white;
      height: 100%;
      display: flex;
      flex: 1;
      text-decoration: none; }
      footer .social a i {
        margin: auto; }
      footer .social a:hover {
        color: #F19F4D; }

#back-to-top {
  position: absolute;
  width: 4rem;
  height: 4rem;
  background: #1f5694;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: .3s ease;
  top: -2rem;
  left: calc(50% - 2rem);
  text-align: center;
  color: white;
  padding: .75rem 1rem;
  box-sizing: border-box;
  border: 2px solid #e6e6e6; }
  #back-to-top:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

div {
  display: flex; }

.anchor {
  position: relative;
  top: -8rem; }
  @media screen and (max-width: 1023px) {
    .anchor {
      top: -6.5rem; } }

h1, h2, h3, h4, h5 {
  margin: 0;
  clear: both; }

a {
  text-decoration: none;
  color: inherit; }

.flip-container {
  perspective: 1000px;
  width: 100%; }
  @media screen and (max-width: 1023px) {
    .flip-container {
      height: 30rem; } }
  .flip-container.flipped .flipper {
    transform: rotateY(180deg); }
  .flip-container .flipper {
    transition: .6s;
    transform-style: preserve-3d;
    position: relative;
    flex: 1; }
  .flip-container .front, .flip-container .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .flip-container .front {
    z-index: 2;
    transform: rotateY(0deg); }
  .flip-container .back {
    transform: rotateY(180deg); }

.navbar {
  background-color: #ffffff;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: .5rem 1rem;
  display: flex;
  z-index: 2000;
  box-sizing: border-box; }
  .navbar img {
    height: 3rem; }
    @media screen and (max-width: 1023px) {
      .navbar img {
        display: none; } }
  .navbar .navbar-items {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 1.5rem; }
  .navbar a {
    text-transform: uppercase;
    font-weight: 600; }
    @media screen and (max-width: 1023px) {
      .navbar a {
        font-size: 13px; } }
    .navbar a.active, .navbar a:hover {
      color: #1f5694; }

.heading {
  height: 15rem;
  padding: 5rem;
  background-color: #1f5694; }

.profile-card {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px red;
  background-color: #ffffff;
  width: 50%;
  margin: -15rem auto 0 auto;
  height: 25rem;
  border-radius: 1rem; }
  @media screen and (max-width: 1899px) {
    .profile-card {
      width: 70%; } }
  @media screen and (max-width: 1023px) {
    .profile-card {
      width: 80%; } }
  .profile-card-info {
    flex: 6;
    flex-direction: column; }
  .profile-card__photo {
    flex: 4;
    background: url("/img/me.jpg") center top/cover no-repeat; }
  .profile-card .info {
    flex: 1;
    flex-direction: column;
    color: #1f5694;
    font-size: 1.25rem;
    padding: .5rem; }
    .profile-card .info ul {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: space-around;
      padding: 0;
      margin: 0; }
    .profile-card .info li {
      list-style-type: none;
      margin-bottom: .5rem; }
      .profile-card .info li i {
        width: 2rem;
        text-align: center;
        padding-right: .5rem; }

.resume {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: #1f5694;
  border-radius: 4px;
  color: #ffffff; }
  @media screen and (max-width: 767px) {
    .resume {
      position: relative;
      top: 0;
      right: 0;
      width: max-content;
      margin-top: .5rem;
      margin-left: .5rem; } }
  .resume a {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: .3s ease;
    padding: 1rem; }
    .resume a:hover {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    @media screen and (max-width: 1023px) {
      .resume a {
        padding: .5rem; } }
  .resume-download {
    border-left: 1px solid #ffffff; }

.profile-card-info__demographic {
  position: relative;
  flex-direction: column;
  flex: 4;
  padding: 2rem 2rem 0 2rem; }
  .profile-card-info__demographic h1 {
    font-family: 'Roboto', 'Sans Serif';
    color: #1f5694;
    font-size: 38px;
    font-weight: 500; }
  .profile-card-info__demographic h4 {
    border-bottom: 1px solid #D9D9D9;
    padding: .25rem 0 .5rem .5rem;
    font-weight: 300;
    font-size: 25px; }
  .profile-card-info__demographic div.demographic {
    width: 100%;
    font-size: 20px; }
    .profile-card-info__demographic div.demographic + div {
      padding-top: 1.5rem; }
  .profile-card-info__demographic .title {
    width: 20%;
    text-align: right;
    padding-right: 2rem;
    font-weight: bold; }

.profile-card-info__social {
  flex: 1;
  background-color: #1f5694;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem; }
  .profile-card-info__social a {
    color: white;
    height: 100%;
    display: flex;
    flex: 1;
    text-decoration: none; }
    .profile-card-info__social a i {
      margin: auto; }
    .profile-card-info__social a:hover {
      color: #F19F4D; }

.card, .award-card, .project-card {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 5px; }

.education-card__logo img {
  width: auto;
  height: 64px; }

.education-card__info {
  margin-left: 1rem;
  flex-direction: column; }
  .education-card__info h1 {
    color: #1f5694; }
  .education-card__info h3 {
    font-weight: normal; }
  .education-card__info p {
    margin-bottom: 0; }

.relevant-courses {
  flex-direction: column; }
  .relevant-courses h3 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 4rem; }

.courses {
  flex-wrap: wrap;
  justify-content: space-between; }
  .courses span {
    background-color: #ffffff;
    border-radius: 5px;
    width: 31%;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
    @media screen and (max-width: 1023px) {
      .courses span {
        width: 48%; } }

.education.filtered .courses span:not(.inactive) {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.19); }

.education.filtered .courses span.inactive {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  background: #D9D9D9; }

.timeline-container {
  position: relative;
  flex: 1; }

.timeline {
  width: 100%;
  padding: 0;
  margin: 0; }
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background: #ffffff;
    left: 50%;
    margin-left: -1.5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19); }
    @media screen and (max-width: 1023px) {
      .timeline:before {
        left: 0; } }
  .timeline li {
    margin-top: 20px;
    position: relative;
    width: 50%;
    float: left;
    clear: left;
    list-style: none; }
    .timeline li:first-of-type {
      margin-top: 0; }
    .timeline li:nth-of-type(2) {
      margin-top: 50px; }

.timeline-card {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2rem;
  box-sizing: border-box;
  width: calc(100% - 2rem);
  float: left;
  background-color: #ffffff;
  position: relative;
  flex-direction: column;
  border-radius: 6px;
  transition: .5s; }
  .timeline-card:before {
    transition: .5s;
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ffffff;
    border-right: 0 solid #ffffff;
    border-bottom: 15px solid transparent;
    content: " "; }
  .timeline-card:after {
    transition: .5s;
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #ffffff;
    border-right: 0 solid #ffffff;
    border-bottom: 14px solid transparent;
    content: " "; }

.timeline-badge {
  width: 24px;
  height: 24px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 17px;
  right: -12px;
  z-index: 100; }
  .timeline-badge a {
    margin: auto;
    color: #1f5694;
    position: relative; }

@media screen and (max-width: 1023px) {
  .timeline li {
    float: right;
    clear: right;
    width: 100%; }
    .timeline li .timeline-badge {
      left: -12px; }
    .timeline li .timeline-card {
      float: right; }
      .timeline li .timeline-card:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; }
      .timeline li .timeline-card:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; } }

.timeline li.inverted {
  float: right;
  clear: right; }
  .timeline li.inverted .timeline-badge {
    left: -12px; }
  .timeline li.inverted .timeline-card {
    float: right; }
    .timeline li.inverted .timeline-card:before {
      border-left-width: 0;
      border-right-width: 15px;
      left: -15px;
      right: auto; }
    .timeline li.inverted .timeline-card:after {
      border-left-width: 0;
      border-right-width: 14px;
      left: -14px;
      right: auto; }

.timeline li.timeline-marker {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
  line-height: 5rem;
  background-color: #e6e6e6;
  text-align: center;
  font-size: 3rem;
  position: relative;
  vertical-align: middle;
  color: #555555; }
  .timeline li.timeline-marker:before {
    content: " ";
    width: 2rem;
    height: 3px;
    position: absolute;
    top: 0;
    left: calc(50% - 1rem);
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    display: inline-block; }
  .timeline li.timeline-marker:after {
    content: " ";
    width: 2rem;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 1rem);
    background: #ffffff;
    box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    display: inline-block; }
  .timeline li.timeline-marker + li + li {
    margin-top: 70px; }

section.filtered .inactive .timeline-card {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  background: #D9D9D9; }
  section.filtered .inactive .timeline-card:before, section.filtered .inactive .timeline-card:after {
    border-left-color: #D9D9D9;
    border-right-color: #D9D9D9; }
  section.filtered .inactive .timeline-card .tag-area a {
    box-shadow: none;
    color: #D9D9D9; }

.experience-card__logo img {
  width: auto;
  height: 64px; }

.experience-card__info {
  margin-left: 1rem;
  flex-direction: column; }
  .experience-card__info h1 {
    color: #1f5694; }
  .experience-card__info h3 {
    font-weight: normal; }
  .experience-card__info p {
    margin-bottom: 0; }

section.skills .content {
  flex-direction: column; }

.skill-category {
  flex-direction: column; }
  .skill-category h2 {
    border-bottom: 1px solid #D9D9D9;
    color: #1f5694; }
  .skill-category p {
    font-size: 1.2rem;
    margin-bottom: 0;
    margin-top: .5rem; }
  .skill-category + .skill-category h2 {
    margin-top: 2rem; }

section.awards .content {
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row; }

.award-card {
  transition: .5s;
  margin-bottom: 2rem;
  width: 48%; }
  @media screen and (max-width: 1023px) {
    .award-card {
      width: 100%; } }
  .award-card__logo img {
    width: auto;
    height: 64px; }
  .award-card__info {
    margin-left: 1rem;
    flex-direction: column; }
    .award-card__info h1 {
      color: #1f5694; }
    .award-card__info h3 {
      font-weight: normal; }

section.filtered .award-card.inactive {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  background: #D9D9D9; }

section.projects .content {
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row; }

section.projects h3 {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 2rem 4rem 4rem 4rem; }

.project-card {
  margin-bottom: 2rem;
  width: 48%;
  flex-direction: column; }
  @media screen and (max-width: 1023px) {
    .project-card {
      width: 100%; } }
  .project-card h1 {
    color: #1f5694;
    margin-bottom: 1rem; }
  .project-card a {
    color: #1f5694; }
  .project-card .card-body {
    flex: 1;
    flex-direction: column; }
    .project-card .card-body p {
      margin: 0 0 1rem 0; }
  .project-card .btn-group {
    align-self: flex-end; }
    .project-card .btn-group .github-btn + .github-btn {
      margin-left: 1rem; }
  .project-card .github-btn {
    background: #1f5694;
    width: max-content;
    color: #ffffff;
    padding: .75rem;
    border-radius: 7px;
    margin-top: 1rem;
    align-self: flex-end;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: .5s; }
    .project-card .github-btn:hover {
      box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.19); }

.tag-area {
  flex-wrap: wrap;
  border-top: 1px solid #e6e6e6;
  padding-top: 1rem;
  margin-bottom: -.5rem; }

.tag {
  background: #1f5694;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  padding: 0.3rem 1rem;
  border-radius: 16px;
  margin-right: .5rem;
  margin-bottom: .5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  .tag span {
    border-left: 1px solid #ffffff;
    padding-left: .5rem;
    margin-left: .5rem;
    font-family: 'Roboto', 'Sans Serif'; }
  .tag:last-child {
    margin-right: 0; }

section.contact .content {
  flex-direction: row;
  justify-content: space-between; }
  @media screen and (max-width: 1023px) {
    section.contact .content {
      flex-direction: column; } }

.contact-form {
  flex: 1;
  margin-right: 1rem; }
  @media screen and (max-width: 1023px) {
    .contact-form {
      margin-right: 0;
      margin-bottom: 1rem; } }
  .contact-form span {
    color: red;
    align-self: center;
    height: max-content; }
  .contact-form .card-footer {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem; }
  .contact-form a {
    background: #1f5694;
    padding: .75rem;
    border-radius: 6px;
    color: #ffffff;
    width: max-content;
    align-self: flex-end;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: .3s ease; }
    .contact-form a:hover {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .contact-form .front {
    flex-direction: column;
    padding: 2rem 3rem; }
  .contact-form .back {
    flex-direction: column;
    color: #1f5694; }
    .contact-form .back i {
      text-align: center;
      font-size: 8rem;
      margin-top: 4rem; }
    .contact-form .back h3 {
      text-align: center;
      font-size: 3rem;
      margin-top: 2rem; }

.contact-field {
  width: 100% !important; }
  .contact-field label {
    color: #1f5694 !important; }
  .contact-field hr + hr {
    border-color: #1f5694 !important; }

.contact-map {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
  flex: 2;
  margin-left: 1rem;
  border-radius: 5px;
  display: flex; }
  @media screen and (max-width: 1023px) {
    .contact-map {
      margin-top: 1rem;
      margin-left: 0; } }
  .contact-map iframe {
    flex: 1; }
